<div class="parallax-container" style="padding-bottom:10%;">
  <div class="parallax"><img class="responsive-img" style="opacity:0.15;" src="/images/teamPicture.jpg" alt="Team picture"></div>
  <div id="team-background" class="team-landing center">
    <div class="container">
      <h1 class="team-header">
        Our Team
      </h1>
      <p class="team-header-text">
        We are Waterloop, a group of university students determined to define the future of transportation. Ranging from first years to masters students, from engineering to environment to arts, the team has grown since its inception in 2015 to over 60 strong across many subteams.
      </p>
    </div>
  </div>
</div>

<div class="card-layout container team-container">
  <% for (var teamName in teamStructure) { %>
    <h2 style="font-size: 2em;"><%- teamName %></h2>
    <% for (var subteamOrLead in teamStructure[teamName]) { %>
        <% if (typeof teamStructure[teamName][subteamOrLead] == "string") { %>
          <div style="padding-left: 1em;"><b><%- subteamOrLead %></b>, <%- teamStructure[teamName][subteamOrLead] %></div>
        <% } else { %>
          <div class="team-card">
            <div class="card">
              <div class="team-name">
                <%- subteamOrLead %>
              </div>
              <div class="team-number">
                <%- Object.keys(teamStructure[teamName][subteamOrLead]).length %>
              </div>
            </div>
            <div class="team-tree">
              <ul>
              <% for (var teamMember in teamStructure[teamName][subteamOrLead]) { %>
                <li>
                <b><%- teamMember %></b>, <%- teamStructure[teamName][subteamOrLead][teamMember] %>
                </li>
              <% } %>
              </ul>
            </div>
          </div>
        <% } %>
      <% } %>
  <% } %>
</div>
<script>
$(function(){
  $(".parallax").parallax();
});
</script>
